<div class="table-responsive">
  <table class="table table-striped table-dark text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Department</th>
        <th>Price</th>
        <th>Amount</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'table' %>
    </tbody>
  </table>
</div>