<div class="table-responsive">
  <table class="table table-striped table-dark text-center">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Department</td>
        <td>Price</td>
        <td>Amount</td>
        <td> </td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td>product departament</td>
          <td><%= product.price %></td>
          <td><%= product.amount %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>